body {
    background-image: url('PhotosCSS/indexbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FBF6EC;
    width: 100%;
    height: auto;
    background-attachment: fixed; /* no scroll*/
    position: fixed;
}

#name-title {
    font-size: 3.2rem;
    color: #12448E;
    letter-spacing: -1px;
    animation: slideInFromRight 1.5s ease;
}

a {
    text-decoration: none;
    color: #12448E;
    font-size: 1.3rem;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

@keyframes slideInFromRight {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

.photo {
    animation: slideInFromRight 1.5s ease;
}

@media (max-width: 767px) {
    .navbar {
        display: flex;
        justify-content: center;
    }

    .navbar .col {
        display: none;
    }

    .navbar::after {
        content: "☰";
        font-size: 2rem;
        color: #12448E;
        cursor: pointer;
    }

    .navbar.active .col {
        display: block;
        text-align: center;
    }

    .navbar.active::after {
        content: "✖";
        font-size: 1rem;
        color: #12448E;
    }

    .navbar .col a {
        display: block;
        padding: 10px 0;
    }
}
