/************************************* */
/* fonts                               */
/************************************* */
.cursive {
    font-family: 'Cedarville Cursive', cursive;
}

.serif {
    font-family: 'Noto Serif', serif;
}

.serif-bold {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    letter-spacing: 0.01em;
}

/************************************* */
/* font sizes                          */
/************************************* */

.subtitle-size {
    font-size: 1.5rem;
}


.margin-sm {
    margin-top: 2rem;
}

.circle-sm {
    border-radius: 10px;
}

.linesp-sm {
    line-height: 1.5;
}

/************************************* */
/* title                               */
/************************************* */
.title {
    position: absolute;
    font-size: 3.2rem;
    color: #12448E;
    text-decoration: none;
    z-index: 9999;
}

.title:hover {
    font-weight: bold;
    font-size: 3.5rem;
}

.home-link {
    position: absolute;
    font-size: 5rem;
    color: #12448E;
    text-decoration: none;
    font-family: 'Cedarville Cursive', cursive;
    margin-left: 0.5rem;
}

.home-link:hover {
    font-weight: bold;
    font-size: 5.3rem;
    text-decoration: none;
}

.home-link-cream {
    position: absolute;
    font-size: 5rem;
    color: #fbf6ec;
    text-decoration: none;
    font-family: 'Cedarville Cursive', cursive;
    margin-left: 0.5rem;
}

.home-link-cream:hover {
    color: #fbf6ec;
    font-weight: bold;
    font-size: 5.3rem;
    text-decoration: none;
}

@media (max-width: 767px) {
    .title {
        font-size: 1rem;
    }

    .title:hover {
        font-weight: bold;
        font-size: 1.3rem;
    }

    .home-link {
        font-size: 4rem;
    }

    .home-link:hover {
        font-size: 4.3rem;
    }
}

/************************************* */
/* nav-bar                             */
/************************************* */
.nav-bar {
    text-align: right;
    margin: 4rem 10rem 0 0;
    font-size: 2rem;
}

.nav-custom {
    margin-right: 6rem;
}

.nav-custom:hover {
    color:#fbf6ec;
}

.nav-custom-2 {
    margin-right: 7.5rem;
}



/************************************* */
/* colors                              */
/************************************* */
.darkblue {
    color: #12448E;
}

.cream {
    color: #fbf6ec;
}

/************************************* */
/* footer                              */
/************************************* */
footer {
    margin-top: 100px;
    border-top: 2px solid #12448E;
    background-color: #E6ECF5;
    /* transition: bottom 0.2s ease-in-out; */
    
    color: #12448E;
    font-size: 25px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    overflow: hidden;
    padding: 20px;
}

footer h1 {
    font-size: 50px;
    font-family: 'Noto Serif', serif;
}

footer h3 {
    font-size: 100px;
}

footer a {
    font-family: 'Noto Serif', serif;
    padding: 30px;
    color: #12448E;
    text-decoration: underline;
}

footer .description-btm {
    margin-top: 50px;
}

footer .description-btm .links:hover{
    transform: scale(1.1);
}

footer .description-btm .links{
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

/************************************* */
/* Animations                          */
/************************************* */
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/************************************* */
/* media queries                       */
/************************************* */
@media screen and (max-width: 1024px) {
    .proj-buttons {
        margin-top: 12rem;
    }
}

@media screen and (max-width: 974px) {
    .home-link-cream {
        font-size: 3rem;
    }

    .home-link-cream:hover {
        font-size: 3.5rem;
        flex-direction: column;
        text-align: center;
    }

    .nav-custom {
        margin-right: 1rem;
    }

    .nav-custom-2 {
        margin-right: 0.5rem;
    }

    .proj-buttons {
        margin-top: 8rem;
    }
}

@media screen and (max-width: 768px) {

    .proj-buttons {
        margin-top: 5rem 0 0 5rem;
        width: 50%;
        padding: none;
    }

    .hero-descript {
        font-size: 2.5rem;
        width: 40%;
    }

    .cover {
        width: 50%;
    }
}
