/* footer */
footer {
    margin-top: 100px;
    border-top: 2px solid #12448E;
    background-color: #E6ECF5;
    /* transition: bottom 0.2s ease-in-out; */
    
    color: #12448E;
    font-size: 25px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    overflow: hidden;
    padding: 20px;
}

footer h1 {
    font-size: 50px;
    font-family: 'Noto Serif', serif;
}

footer h3 {
    font-size: 100px;
}

footer a {
    font-family: 'Noto Serif', serif;
    padding: 30px;
    color: #12448E;
    text-decoration: underline;
}

footer .description {
    margin-top: 50px;
}

footer .description .links:hover{
    transform: scale(1.1);
}

footer .description .links{
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

/* HERO */
#saturn {
    background-image: url('PhotosCSS/saturn-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#wander {
    background-image: url('PhotosCSS/wanderlust-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#sched {
    background-image: url('PhotosCSS/sched-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#sprout {
    background-image: url('PhotosCSS/sprout-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#jack {
    background-image: url('PhotosCSS/jack-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-descript {
    margin-top: 15rem;
    font-size: 4.5rem;
    line-height: 8rem;
}

.hero-descript-2 {
    margin-top: 10rem;
    font-size: 3rem;
    line-height: 6rem;
}

.hero-descript-3 {
    text-align: right;
    margin-top: 20rem;
    font-size: 3rem;
    line-height: 6rem;
}

.hero-descript-4 {
    text-align: right;
    margin-top: 20rem;
    font-size: 4.5rem;
    line-height: 8rem;
}

.arrow {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 8rem;
    padding-bottom: 4rem;
}

.saturn-middle {
    margin: 0 5rem 0 5rem;
    padding: 10rem 0 15rem 0;
}

/* proj buttons */
.proj-buttons button{
    background-color: transparent;
    border: solid 2px #fbf6ec;
    display: block;
    margin-bottom: 2rem;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
}

.proj-buttons button:hover{
    background-color: #fbf6ec;
    border: solid 2px #12448E;
    color: #12448E;
}

.proj-button.active, .proj-button:active {
    background-color: #fbf6ec;
    border: solid 2px #12448E;
    color: #12448E;
}

.proj-buttons {
    margin-left: 5rem;
    margin-top: 20rem;
}

.saturn {
    animation: fadeInLeft 0.5s;
}

.wander {
    animation: fadeInLeft 1s;
}

.sched {
    animation: fadeInLeft 1.5s;
}

.sprout {
    animation: fadeInLeft 2s;
}

.jack {
    animation: fadeInLeft 2.5s
}

/* cover art */
.cover-art {
    border-radius: 10px;
    margin-top: 10rem;
    animation: fadeInRight 2s;
}

.cover-art-2 {
    border-radius: 10px;
    margin: 18rem 0 0 10rem;
    animation: fadeInRight 2s;
}

.saturn-img-2 {
    margin-top: 12rem;
}

.wander-img {
    padding: 10rem 0 5rem 10rem;
}

.sched-imgs {
    margin: 15rem 20rem 0 5rem;
}

.sprout-img {
    margin: -10rem 0 0 0;
    z-index: 2;
}

.saturn-descript {
    color: #BC5952;
    text-align: right;
    font-size: 3rem;
    padding: 0 0 15rem 0;
    line-height: 5rem;
    text-shadow: 0.5px 0.5px 1px #fbf6ec;
}

.tech-descript {
    background-color: rgba(197, 133, 165, .5);
    align-items: center;
    text-align: center;
    padding: 2rem 0 5rem 0;
    text-shadow: 0.5px 0.5px 1px grey;
}

.tech-descript-2{
    background-color: rgba(18, 68, 142, .7);
    align-items: center;
    text-align: center;
    padding: 2rem 0 5rem 0;
    text-shadow: 0.5px 0.5px 1px grey;
}

.tech-descript-3{
    background-color: rgba(255, 170, 20, .7);
    align-items: center;
    text-align: center;
    padding: 2rem 0 5rem 0;
    text-shadow: 0.5px 0.5px 1px grey;
}

.tech-descript-4{
    background-color: rgba(69, 115, 66, .7);
    align-items: center;
    text-align: center;
    padding: 2rem 0 5rem 0;
    text-shadow: 0.5px 0.5px 1px grey;
}

.tech-descript-5{
    background-color: rgba(220, 110, 94, .7);
    align-items: center;
    text-align: center;
    padding: 2rem 0 5rem 0;
    text-shadow: 0.5px 0.5px 1px grey;
}

.wander-descript {
    line-height: 5rem;
}

.sched-descript {
    text-align: center;
    margin: 0 8rem 0 0;
    line-height: 5rem;
    text-shadow: 0.5px 0.5px 1px grey;
}

.sprout-descript {
    font-size: 2rem;
    text-align: right;
    line-height: 5rem;
    margin-left: 10rem;
    text-shadow: 0.5px 0.5px 1px grey;
}

.video-row {
    position: relative; 
    width: 102vw;
    height: 90vh; 
    overflow: hidden;
}

#myVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.wander-gif {
    position: absolute;
    align-items: center;
    margin: 10rem 0 0 35rem;
    width: 60%; 
    height: auto;
    z-index: 1;
}

.sprout-gif {
    margin-left: 10rem;
}

.sprout-btm {
    padding-bottom: 10rem;
}

@media screen and (max-width: 1024px) {
    .cover-art {
        width: 80%;
    }
}


